html{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color:rgb(76, 0, 255);
}

#loading{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #e4eff2 url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS3k4sJ02VTetqLKuqjsoQNNmku85NteI8IdzphlzUwqCSyRPXSaYxjB2iPjHV-xkF3-50&usqp=CAU") no-repeat center center;
    z-index: 99999;
}

.bg-light{
    background-color: #f2e9e4!important;
}

.navbar-brand{
    font-family: 'Sansita Swashed', cursive;
    font-size: 1.5rem;
    color: #dfab1d!important;
}

.nav-link{
    color: #94e70f!important;
    font-family: 'Noto Sans JP', sans-serif;
}

.nav-link:hover{
    background-color: #f3f1f1;
}

.hero-content{
    height: 100vh;
    background-color:rgb(218, 107, 194);
    color:white;
    padding: 3rem;
    border-bottom-left-radius: 45rem;
    border-bottom-right-radius: 45rem;
    margin-bottom: 1vh;
}

.hero-img{
    height: 90vh;
    width: 100%;
}

@media only screen and (max-width: 666px) {
    .hero-img {
      display: none;
    }
}

.get-started{
    border-radius: 0.5rem;
    padding: 1rem 2rem;
    font-size: 162%;
    background-color:black;
    color: white!important;
    transition: 0.3s;
}

.get-started:hover{
    text-decoration: none;
    background-color: #1aa1eb;
    
}

.get-started-content{
    height: 60vh;
    background-color: #ff8a65;
    border-top-left-radius: 42rem;
    border-top-right-radius: 42rem;
    border-bottom-right-radius: 42rem;
    border-bottom-left-radius: 42rem;
}

.get-started-content .row{
    padding: 25vh 0;
}

.get-started-content a{
    border-radius: 0.5rem;
    padding: 1rem 2rem;
    font-size: 162%;
    background-color: #039be5;
    color: #fff!important;
    transition: 0.3s;
}

.get-started-content a:hover{
    background-color: #c22121;
    text-decoration: none;
}

footer{
    background-color:  #f2e9e4;
}

.social-icons li{
    list-style: none;
    display: inline;
    padding: 0.5rem;
}

.github{
    color: #24292e;
}

.linkedin{
    color: #0077b5;
}

.google{
    color: #D44638;
}

.max-width {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
  
  }